@media only screen and (max-width: 850px) {
  nav > ul {
    margin-top: 20px;
  }
  .roadmap-grid {
    grid-template-columns: 1fr;
    text-align: left;
    grid-row-gap: 20px;
  }

  form {
    margin-left: auto;
    margin-right: auto;
  }

  form > input {
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
  }

  form > textarea {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 5px;
  }

  .quater {
    font-weight: 650;
    font-size: 45px;
    margin-right: 30px;
  }

  .last-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 60px 50px;
  }

  .tokenomics-underlying-card-background {
    width: 90%;
    height: 100%;
  }

  .tokenomics-card {
    width: 90%;
    height: 100%;
    padding: 4%;
  }

  .rfi-static-rewards-card-container {
    margin-top: 60px;
    width: 80%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  .rfi-static-rewards-image {
    height: 150px;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .rfi-static-rewards-card {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 273px;
    background: #1e262c;
    padding: 0;
    border-radius: 12px;
    padding: 10px;
  }

  .rfi-static-rewards-card > p {
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0px;
    text-align: center;
  }

  .rfi-static-rewards-card > div {
    /* margin: 20px 0px; */
    font-size: 17px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mission-card-seg-1 {
    font-size: 17px;
    line-height: 25px;
  }

  .automatic-lp-card-container {
    margin-top: 60px;
    width: 80%;
    height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
  }

  .automatic-lp-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%;
    height: 260px;
    background: #1e262c;
    padding: 0;
    border-radius: 12px;
    padding: 10px;
  }

  .automatic-lp-card > p {
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0px;
    text-align: center;
  }

  .automatic-lp-image {
    height: 150px;
    display: block;
    margin: 0 auto;
    padding: 0;
  }

  .automatic-lp-card > div {
    /* margin: 20px 0px; */
    font-size: 17px;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #teen-wolf {
    font-weight: 600;
    font-size: 70px;
    margin: 15px auto;
  }

  .teen-wolf-info {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    width: 90%;
    margin: 0 auto;
  }

  .nav-bar-logo {
    width: 90px;
    height: 80px;
    padding-left: 20px;
  }

  .teen-wolf-animation-1 > img {
    width: 100%;
  }

  .about-teen-wolf::after {
    margin-top: 120px;
    width: 80%;
    background-size: contain;
  }

  .tokenomics::before {
    display: none;
  }

  .tokenomics::after {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: contain;
    right: 0;
    left: 0;
  }

  .mission::after {
    margin-top: 70px;
    width: 50%;
    background-size: contain;
  }

  .ecosystem::before {
    display: none;
  }

  .ecosystem::after {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-size: contain;
    right: 0;
    left: 0;
  }

  .rfi-static-rewards-card-container::after {
    width: 60%;
    background-size: contain;
    margin-top: 150px;
  }

  .automatic-lp-card-container::before {
    display: none;
  }

  .automatic-lp-card-container::after {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    right: 0;
    left: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .roadmap::after {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    right: 0;
    left: 0;
    margin-top: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .last-grid::before {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    right: 0;
    left: 0;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .last-grid::after {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    right: 0;
    left: 0;
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  footer > img {
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    object-fit: contain;
  }
}

@media only screen and (max-width: 500px) {
  .quater {
    font-weight: 600;
    font-size: 30px;
    line-height: 68px;
    display: block;
    text-align: center;
  }

  .a-roadmap-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    width: 80%;
  }

  .quater-listings {
    text-align: left;
  }

  .footer-links {
    width: 60%;
  }

  .quater-listings {
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
  }

  .quater-listing-bullet {
    width: 10px;
    height: 2px;
    margin-bottom: 5px;
    margin-right: 5px;
  }

  .copyright-container {
    width: 100%;
    border-radius: 0px;
    margin-top: 40px;
    float: none;
  }

  .copyright-container > p {
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    margin-top: 0;
  }

  .contact-section > p {
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
  }

  .faq-section > p {
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
  }

  .contact-section > small {
    font-size: 15px;
  }

  form > label {
    font-size: 15px;
  }

  form > button {
    padding: 3px;
    position: absolute;
    width: 100px;
    height: 35px;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
  }

  .rfi-static-rewards-card > p {
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0px;
  }

  .rfi-static-rewards-card > div {
    margin: 20px 0px;
    font-size: 15px;
    line-height: 20px;
  }

  .mission-card-seg-1 {
    font-size: 15px;
    line-height: 20px;
  }

  .automatic-lp-card > p {
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0px;
  }

  .automatic-lp-card > div {
    margin: 20px 0px;
    font-size: 15px;
    line-height: 20px;
  }

   .tokenomics::after {
    margin-top: 90px;
  }

  .mission::after{
    margin-top: 190px;
  }

  .ecosystem::after {
    margin-top: 90px;
  }

}

@media only screen and (max-width: 300px) {
  nav > ul {
    display: none;
  }

  .nav-btns {
    display: none;
  }

  .contact-us-btn {
    display: none;
  }

  .nav-bar-logo {
    display: block;
    position: relative;
    margin: 15px auto;
    padding: 0;
  }

  .footer-links {
    width: 60%;
    font-size: 20px;
  }
}
