* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1e262c;
}

nav {
  margin-top: 20px;
  margin-bottom: 40px;
  /* margin-left: 144px;
  margin-right: 50px; */
}

.nav-bar-logo {
  position: absolute;
  width: 100px;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 60px;
}

nav > ul {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

nav > ul > li {
  margin: 0 20px;
}

.nav-btns {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding-right: 30px;
}

.nav-btns > a {
  text-decoration: none;
}

.contact-us-btn {
  width: 100px;
  height: 40px;
  color: #101417;
  background-color: #ffc800;
  border-radius: 8px 8px 8px 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-teen-wolf {
  margin: 0 10px;
}

.about-teen-wolf::after {
  content: "";
  margin-top: 130px;
  background: url("../images/teen-wolf-bg.png") no-repeat center center;
  width: 253px;
  height: 261px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
  filter: brightness(0.2);
}

#teen-wolf {
  font-weight: 800;
  font-size: 90px;
  color: #ffc800;
  text-align: center;
  margin: 0 auto;
}

.teen-wolf-info {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
}

.white-paper-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc800;
  padding: 10px 5px;
  width: 150px;
  margin: 20px auto;
  border-radius: 8px;
  color: #101417;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.teen-wolf-animation-1 > img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-blend-mode: luminosity;
  background-size: cover;
  border: none;
  outline: none;
}

.tokenomics {
  position: relative;
  margin-top: 30px;
}

.tokenomics::before {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  top: 0px;
  right: 0%;
  bottom: 0px;
  left: 10%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-right: auto;
}

.tokenomics::after {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  top: 0px;
  right: 10%;
  bottom: 0px;
  left: 0%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-left: auto;
}

.dotted-line {
  position: absolute;
  border-bottom: 1px dashed rgba(196, 184, 123, 0.5);
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.tokenomics > p {
  font-size: 30px;
  line-height: 55px;
  color: #ffc800;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.tokenomics-card-container {
  position: relative;
  margin-left: 30px;
  margin-right: 30px;
}

.tokenomics-underlying-card-background {
  position: absolute;
  width: 733px;
  height: 317px;
  background: #ffc800;
  border-radius: 12px;
  transform: rotate(-3.16deg);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tokenomics-card {
  position: relative;
  width: 733px;
  height: 317px;
  background: #191f24;
  border-radius: 12px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-segment-2 {
  margin-top: 20px;
}

.card-segment-1 > p > span {
  color: #ffc800;
}

.card-segment-1 > p {
  color: #ffffff;
}

.card-segment-2 > p > span {
  color: #ffc800;
}

.card-segment-2 > p {
  color: #ffffff;
}

.mission {
  position: relative;
  margin-top: 30px;
}

.mission::after {
  content: "";
  margin-top: 30px;
  background: url("../images/teen-wolf-bg.png") no-repeat center center;
  width: 453px;
  height: 461px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.2;
  filter: brightness(0.2);
}

.mission > p {
  position: absolute;
  font-size: 30px;
  line-height: 55px;
  color: #ffc800;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.mission > small {
  position: absolute;
  margin-top: 60px;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.mission-underlying-card-background {
  position: absolute;
  margin-top: 100px;
  background: #ffc800;
  border-radius: 12px;
  transform: rotate(-1deg);
  width: 80%;
  height: 398px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.mission-card {
  position: absolute;
  margin-top: 85px;
  display: block;
  width: 80%;
  height: 358px;
  background: #191f24;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 70px;
}

.mission-seg-container{
  margin: 0 auto;
}

.mission-seg-container > div{
  margin: 5% 20px;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
}

.ecosystem {
  position: relative;
  margin-top: 570px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #ffc800;
  margin-right: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.ecosystem::after {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  top: 0px;
  right: 10%;
  bottom: 0px;
  left: 0%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-left: auto;
}

.ecosystem::before {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 10%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-right: auto;
}

.ecosystem > p {
  margin-right: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.ecosysystem-small {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-right: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.ecosystem > div {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: left;
  width: 80%;
}

.rfi-static-rewards-card-container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  height: 378px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(25, 31, 36, 0.85);
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 24px 24px 24px 108px;
}

.rfi-static-rewards-card-container::after {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  display: block;
  margin: 30px auto;
}

.rfi-static-rewards-image {
  height: 246px;
  padding-right: 15px;
}

.rfi-static-rewards-card {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  width: 620px;
  height: 273px;
  background: #1e262c;
  border-radius: 12px;
}

.rfi-static-rewards-card > p {
  font-weight: bold;
  font-size: 28px;
  color: #ffc800;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 32px 0px;
}

.rfi-static-rewards-card > div {
  margin: 32px 0px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.automatic-lp-card-container {
  position: relative;
  margin-top: 60px;
  width: 75%;
  height: 378px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(25, 31, 36, 0.85);
  border-radius: 18px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  padding: 24px 108px 24px 24px;
}

.automatic-lp-card-container::after {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 10%;
  bottom: 0px;
  left: 0%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-left: auto;
}

.automatic-lp-card-container::before {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 10%;
  bottom: 0px;
  left: 0%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-right: auto;
}

.automatic-lp-card {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 25px;
  width: 620px;
  height: 273px;
  background: #1e262c;
  border-radius: 12px;
}

.automatic-lp-card > p {
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;
  color: #88eef0;
  margin: 32px 0px;
}

.automatic-lp-image {
  padding-right: 15px;
  height: 246px;
}

.automatic-lp-card > div {
  margin: 32px 0px;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.roadmap {
  position: relative;
  margin-top: 60px;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #ffc800;
  margin-right: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.roadmap::after {
  content: "";
  position: absolute;
  background: url("../images/teen-wolf-bg.png") no-repeat center center;
  width: 353px;
  height: 361px;
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0%;
  opacity: 0.2;
  filter: brightness(0.2);
  display: block;
  margin: auto auto;
}

.roadmap > p {
  margin-right: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.roadmap-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  margin: 0 auto;
}

.a-roadmap-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 0 auto;
}

.quater {
  font-weight: 600;
  font-size: 40px;
  line-height: 108px;
  color: #ffc800;
  display: block;
}

.quater-listings {
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  margin-top: 30px;
  text-align: left;
}

.quater-listing-bullet {
  width: 20px;
  height: 3px;
  background: #ffc800;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
}

.teen-wolf-animation-1 {
  position: relative;
}

.last-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin: 60px 80px;
}

.last-grid::after {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 10%;
  bottom: 0px;
  left: 0%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-left: auto;
}

.last-grid::before {
  content: "";
  position: absolute;
  background-image: url("../images/teen-wolf-bg.png");
  width: 353px;
  height: 361px;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 10%;
  background-repeat: no-repeat;
  opacity: 0.2;
  filter: brightness(0.2);
  margin-right: auto;
}

.faq-section > p {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #ffc800;
}

.side-dotted-line {
  position: absolute;
  border-bottom: 1px dashed rgba(196, 184, 123, 0.5);
  width: 30%;
  margin-top: 25px;
}

.accordion {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}

.accordion > div {
  margin-top: 30px;
  background: #191f24;
  border-radius: 16px;
  padding: 8px 16px;
}

#arrow-down {
  float: right;
  color: #ffc800;
}

#arrow-up {
  display: none;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: block;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  transition: background-color 0.1s;
}

.accordion__content {
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
  color: #ffc800;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked + label span#arrow-down {
  display: none;
}

.accordion__input:checked + label span#arrow-up {
  display: block;
  float: right;
  color: #ffc800;
}

.contact-section > p {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  color: #ffc800;
}

.contact-section > small {
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #ffc800;
}

form {
  width: 100%;
}

form > * {
  display: block;
  width: 100%;
}

form > label {
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
}

form > input {
  width: 100%;
  height: 40px;
  background: #191f24;
  border-radius: 12px;
  border: none;
  outline: none;
  margin: 15px 0;
  padding: 5px 10px;
  color: #ffffff;
}

form > textarea {
  width: 100%;
  height: 197px;
  background: #191f24;
  border-radius: 12px;
  border: none;
  outline: none;
  margin: 15px 0;
  padding: 30px 15px;
  color: #ffffff;
}

form > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  position: absolute;
  width: 120px;
  height: 45px;
  background: #ffc800;
  border-radius: 8px;
  border: none;
  outline: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  cursor: pointer;
}

footer > img {
  width: 430px;
  height: 418px;
  display: block;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto;
  padding: 0 20px;
  color: #ffc800;
  font-size: 30px;
  width: 40%;
}

.copyright-container {
  width: 55%;
  height: 40px;
  background: #191f24;
  border-radius: 24px 0px 0px 0px;
  margin-top: 40px;
  float: right;
  color: #485660;
}

.copyright-container > p {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin-top: 5px;
}

div.footer-links > a > * {
  color: #ffc800;
}
