[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "*"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
