{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'images/android-chrome-512x512.png' %}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins@&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsiveness.css' %}" />
    <title>Teen Wolf</title>
  </head>
  <body>
    <nav data-aos="fade-down" data-aos-duration="500">
      <img class="nav-bar-logo" src="{% static 'images/teen-wolf-logo.PNG' %}" alt="" />

      <span class="nav-btns">
        <a href="#contact" class="contact-us-btn"> Contact us </a>
      </span>
      <ul>
        <li><a href="#about">About</a></li>
        <li><a href="#roadmap">Roadmap</a></li>
        <li><a href="#tokenomics">Tokenomics</a></li>
      </ul>
    </nav>

    <div id="about" class="about-teen-wolf">
      <div data-aos="zoom-in" data-aos-duration="500" data-aos-easing="ease-in-back">
        <div id="teen-wolf">TEEN WOLF</div>
        <div class="teen-wolf-info">
          Welcome to Teenwolf token, a simple, highly intelligent community-driven platform enhancing economic
          well-being by empowering young people and diverse cultures by giving them control over their finance and
          exploring different possibilities to amass wealth
        </div>
      </div>
    </div>

    <a
      data-aos="zoom-in"
      data-aos-duration="500"
      data-aos-easing="ease-in-back"
      href="https://drive.google.com/file/d/1WWlrQuckeemcZUqhZgZd3UKAeBVgd0n8/view"
      target="_blank"
      class="white-paper-btn"
      >Alpha Pack Paper</a
    >

    <!-- <div data-aos="fade-up" data-aos-duration="500" class="teen-wolf-animation-1">
      <img src="{% static 'images/teen-wolf-animation-1.gif' %}" alt="" />
    </div> -->

    <div data-aos="fade-right" data-aos-duration="500" id="tokenomics" class="tokenomics">
      <div class="dotted-line"></div>
      <p>TOKENOMICS</p>
      <div class="tokenomics-card-container">
        <div class="tokenomics-underlying-card-background"></div>
        <div class="tokenomics-card">
          <div>
            <div class="card-segment-1">
              <p><span>Token Name:</span> Teen Wolf Token</p>
              <p><span>Symbol:</span> $TEENWOLF</p>
              <p><span>Decimals:</span> 9Address:</p>
            </div>
            <div class="card-segment-2">
              <p>Taxation.5% Marketing3% Liquidity2% Buy-Back1% team</p>
              <p><span>Initial Allocation.Max Supply:</span> 1,000,000,000,000,000 ( 1 QUADRILLION)</p>
              <p><span>Private Sale: 10%Presale:</span> 53%Liquidity: 37%</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-aos="fade-left" data-aos-duration="500" data-aos-duration="1000" class="mission">
      <div class="dotted-line"></div>
      <p>MISSION</p>
      <small>Behind the Banter</small>

      <div class="mission-card-container">
        <div class="mission-underlying-card-background"></div>
        <div class="mission-card">
          <p class="mission-card-seg-1">
            There is a great need to have a breed of traders who are part of the global decentralised finance as this is
            the platform they require to overcome technological hurdles and truly recognize how money works. This is
            where TEENWOLF TOKEN comes in, supplying tools and content materials that provides comfortability with money
            to the younger generation, while they learn and invest, subsequently opening exceptional endless
            possibilities to create and amass wealth.
          </p>
        </div>
      </div>
    </div>

    <div class="ecosystem">
      <div class="dotted-line"></div>
      <p>OUR ECOSYSYTEM</p>
      <small class="ecosysystem-small">The $TEEN WOLF TOKEN</small>
      <div>
        TEENWOLF token is launched on the Binance Smart Chain (Bep-20) network. It is a medium for transactions, being a
        monetary system on its own, it solves problems in the community with a smart code that rewards loyal holders,
        with a 5% burn every quarter.
      </div>
    </div>

    <div class="rfi-static-rewards-card-container">
      <img class="rfi-static-rewards-image" src="{% static 'images/teen-wolf-image-1.PNG' %}" alt="" />
      <div class="rfi-static-rewards-card">
        <p>RFI STATIC REWARDS</p>
        <div>
          4% of each transaction with $TEENWOLF token is deducted and redistributed to our pool of holders. By simply
          holding, you will be exposed to a broad variety of tokens increasing progressively each day as the community
          transacts.
        </div>
      </div>
    </div>

    <div class="automatic-lp-card-container">
      <div class="automatic-lp-card">
        <p>AUTOMATIC LP</p>
        <div>
          A small fraction of each trade is diverted to auto-generating liquidity that goes into collective pools
          utilized by exchange.
        </div>
      </div>
      <img class="automatic-lp-image" src="{% static 'images/teen-wolf-image-2.PNG' %}" alt="" />
    </div>

    <div id="roadmap" class="roadmap">
      <div class="dotted-line"></div>
      <p>OUR ROADMAP</p>
      <div class="roadmap-grid">
        <div class="a-roadmap-grid">
          <div class="quater">Q1</div>
          <div class="quater-listings">
            <p><span class="quater-listing-bullet"></span>Website</p>
            <p><span class="quater-listing-bullet"></span>Teaming</p>
            <p><span class="quater-listing-bullet"></span>Token/Protocol</p>
            <p><span class="quater-listing-bullet"></span>Private Sale</p>
            <p><span class="quater-listing-bullet"></span>Airdrop/Public Sale</p>
            <p><span class="quater-listing-bullet"></span>Pankcake Swap/ Launch</p>
            <p><span class="quater-listing-bullet"></span>Contract Auditing</p>
            <p><span class="quater-listing-bullet"></span>Community Workload</p>
          </div>
        </div>

        <div class="a-roadmap-grid">
          <div class="quater">Q2</div>
          <div class="quater-listings">
            <p><span class="quater-listing-bullet"></span>Listing(CoinMarketCap, Coingecko)</p>
            <p><span class="quater-listing-bullet"></span>Twitter Influencer Marketing</p>
            <p><span class="quater-listing-bullet"></span>DEX Trending</p>
            <p><span class="quater-listing-bullet"></span>Press Release Submissions</p>
            <p><span class="quater-listing-bullet"></span>Stage 1 Exchange Application</p>
            <p><span class="quater-listing-bullet"></span>Dapps Development</p>
            <p><span class="quater-listing-bullet"></span>NFT Integration</p>
          </div>
        </div>

        <div class="a-roadmap-grid">
          <div class="quater">Q3</div>
          <div class="quater-listings">
            <p><span class="quater-listing-bullet"></span>Press Releases Published</p>
            <p><span class="quater-listing-bullet"></span>Twitter Trending</p>
            <p><span class="quater-listing-bullet"></span>CoinMarketingCap Trending</p>
            <p><span class="quater-listing-bullet"></span>DEX Trending</p>
            <p><span class="quater-listing-bullet"></span>Teen Conference</p>
            <p><span class="quater-listing-bullet"></span>New Partnership Application</p>
          </div>
        </div>

        <div class="a-roadmap-grid">
          <div class="quater">Q4</div>
          <div class="quater-listings">
            <p><span class="quater-listing-bullet"></span>TeenWolf Blockchain Bootcamp</p>
            <p><span class="quater-listing-bullet"></span>Blockchain Migration</p>
            <p><span class="quater-listing-bullet"></span>TeenWolf Exchange</p>
            <p><span class="quater-listing-bullet"></span>TeenWolf Park Preparation</p>
            <p><span class="quater-listing-bullet"></span>Metaverse Integration/Amusement</p>
            <p><span class="quater-listing-bullet"></span>TeenWolf Blockchain Academy</p>
          </div>
        </div>
      </div>
    </div>

    <div class="last-grid">
      <div class="faq-section">
        <p>FAQs <span class="side-dotted-line"></span></p>
        <div class="accordion">
          <div>
            <input type="checkbox" id="section1" class="accordion__input" />
            <label for="section1" class="accordion__label"
              >Is Teenwolf meant for teenagers alone?
              <span id="arrow-down" class="material-icons">keyboard_arrow_down</span>
              <span id="arrow-up" class="material-icons">keyboard_arrow_up</span>
            </label>
            <div class="accordion__content">
              <p>
                No, Teenwolf is not exclusive for teenagers. Other members of the community can trade, invest and engage
                in other Blockchain activities in the Teenwolf platform. Teenwolf only has a section that is
                particularly structured for teenagers to educate, train and empower them so that they can become
                acquainted and comfortable with the subject of finance.
              </p>
            </div>
          </div>

          <div>
            <input type="checkbox" id="section2" class="accordion__input" />
            <label for="section2" class="accordion__label"
              >Where and how can I buy this token?
              <span id="arrow-down" class="material-icons">keyboard_arrow_down</span>
              <span id="arrow-up" class="material-icons">keyboard_arrow_up</span>
            </label>
            <div class="accordion__content">
              <p>
                Teenwolf token can be bought and traded on both centralized and decentralized exchanges. The Teen CEX is
                a user-friendly platform that makes investing and trading easy for beginners. With the acceptance of
                Cryptocurrency by MasterCard, the token can be bought using credit cards. Also, it can be traded on a
                decentralized exchange like pancakeswap, where you can swap a token for Teenwolf token and vice versa.
              </p>
            </div>
          </div>

          <div>
            <input type="checkbox" id="section3" class="accordion__input" />
            <label for="section3" class="accordion__label"
              >Can anyone design an NFT on the Teenwolf platform?
              <span id="arrow-down" class="material-icons">keyboard_arrow_down</span>
              <span id="arrow-up" class="material-icons">keyboard_arrow_up</span>
            </label>
            <div class="accordion__content">
              <p>
                Yes, anyone can design an NFT on our blockchain. Once you have chosen the unique digital asset you want
                to turn into an NFT, which could be a painting, picture, music or video collectible, you mint it into an
                NFT using our blockchain. Afterwards, you set up a digital wallet and fund it with our token so you will
                be able to create and sell your NFT. Finally, you display your NFT in the Teenwolf park for auctioning
              </p>
            </div>
          </div>

          <div>
            <input type="checkbox" id="section4" class="accordion__input" />
            <label for="section4" class="accordion__label"
              >How can I earn from playing games on metaverse?
              <span id="arrow-down" class="material-icons">keyboard_arrow_down</span>
              <span id="arrow-up" class="material-icons">keyboard_arrow_up</span>
            </label>
            <div class="accordion__content">
              <p>
                Crypto gaming allows players to use their rewards and items across different crypto gaming platforms.
                Using the play-to-earn model, players can earn crypto tokens just by playing games or you can sell the
                items acquired in the game for a Cryptocurrency.
              </p>
            </div>
          </div>

          <div>
            <input type="checkbox" id="section5" class="accordion__input" />
            <label for="section5" class="accordion__label"
              >Is the Teenwolf park a marketplace?
              <span id="arrow-down" class="material-icons">keyboard_arrow_down</span>
              <span id="arrow-up" class="material-icons">keyboard_arrow_up</span>
            </label>
            <div class="accordion__content">
              <p>
                Not just a marketplace per se, it is also a virtual amusement center with a section for display and sale
                of NFTs and other crypto assets. The Teenwolf park will make you appreciate the beauty of the metaverse.
              </p>
            </div>
          </div>

          <div>
            <input type="checkbox" id="section6" class="accordion__input" />
            <label for="section6" class="accordion__label"
              >How will Teenwolf solve immigration problems?
              <span id="arrow-down" class="material-icons">keyboard_arrow_down</span>
              <span id="arrow-up" class="material-icons">keyboard_arrow_up</span>
            </label>
            <div class="accordion__content">
              <p>
                Our blockchain will store migrants' professional credentials and background declarations. This happens
                after they have undergone professional evaluation and passed the application stage. Migrants will also
                be protected from fraud, malpractice and misrepresentation, thanks to our built-in smart contracts.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="contact-section">
        <p>Contact Us <span class="side-dotted-line"></span></p>
        <small>We want to hear from you</small>
        <div class="contact-form">
          <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <label for="name">Name</label>
            <input id="name" type="text" name="name" />
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" />
            <label for="message">Your Message</label>
            <textarea name="message" id="message" cols="1" rows="1"></textarea>
            <button type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <img src="{% static 'images/teen-wolf-logo.PNG' %}" alt="" />
      <div id="contact" class="footer-links">
        <a href="https://discord.gg/nbbvv5WkEQ" target="_blank"><i class="fab fa-discord"></i></a>
        <a href="https://www.facebook.com/TeenWolfToken" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="https://www.reddit.com/u/TeenWolfToken" target="_blank"><i class="fab fa-reddit"></i></a>
        <a href="https://www.instagram.com/teenwolftoken" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://t.me/teenwolftoken" target="_blank"><i class="fab fa-telegram"></i></a>
        <a href="https://twitter.com/teenwolftoken" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="copyright-container">
        <p>&copy; 2021 Teenwolf Token</p>
      </div>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
